.hero-banner {
  position: relative;
  height: 100vh;
  background: url("https://dvdevoouslpfhrdiwakv.supabase.co/storage/v1/object/public/project-images//setup-art.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.hero-banner h2 {
  background: var(--overlay-bg); /* dark tinted overlay */
  backdrop-filter: blur(10px);    /* glass effect */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 1rem;
}


.scroll-cue {
  z-index: 2;
  animation: fadeBounce 2s ease-in-out infinite;
  font-size: 4rem;
  color: #ccc;
}

@media (max-width: 576px) {
  .hero-banner{
    background: none;
  }
}